<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Variable definitions -->
	<variable name="webSite" value="Ledgerly" />
	<variable name="logPath" value="D:\log\${webSite}\" />
	<variable name="layout" value="[ ${uppercase:${level}} ] ${longdate} - ${message}, ${exception:format=tostring}" />

	<!-- Define the targets to write to -->
	<targets>
		<target xsi:type="File" name="allFile" fileName="${logPath}\${webSite}.${date:format=yyyyMMdd}.log"
				layout="${layout}" async="true"/>
	</targets>

	<!-- Define rules to map from logger name to target -->
	<rules>
		<!--<logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="allFile" />-->
		<logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="allFile" />

	</rules>
</nlog>